* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* background-color: #ffffff; */
}

@media only screen and (min-width: 999px) and (max-width: 1500px) {
  main {
    margin: 2rem;
  }
  .navbar {
    margin: 2rem;
    height: 50px;
    padding-top: 0.5rem;
    padding-left: 4rem;
  }

  .intro-banner {
    height: 500px;
    display: flex;
    margin-bottom: 3rem;
  }

  .text-contents {
    flex: 1;
    margin-top: 10rem;
  }

  .text-contents:hover {
    transform: scale(1.1);
  }

  .headline {
    font-size: 2rem;
    color: #3a3a3a;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }

  .sub-text {
    white-space: no-wrap;
    margin-left: 4rem;
    margin-bottom: 1rem;
    text-align: justify;
    color: #3a3a3a;
  }

  .prebook-button {
    height: 10%;
    width: 20%;
    background-color: #e02c6d;
    color: white;
    margin-left: 4rem;
    margin-bottom: 1rem;
  }

  .banner-image {
    flex: 1;
    text-align: center;
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .banner-image:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }

  .banner-image img {
    height: 411px;
    width: 413px;
  }

  .popular-collections {
    /* height: 1047px; */
    height: 1700px;

    /* background-color: cadetblue; */
  }

  .pc-headline {
    text-align: center;
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
  }

  .collections {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3rem;
  }

  .collection {
    height: 500px;
    width: 330px;
  }

  .collection-image {
    margin-bottom: 0.5rem;
  }

  .collection-name {
    margin-bottom: 0.5rem;
  }

  .collection-price {
    margin-bottom: 0.5rem;
  }
  .ratings {
    margin-bottom: 0.5rem;
    display: flex;
  }
  .stars {
    margin-right: 1rem;
  }
  .fa-star {
    color: #fb8200;
  }

  .see-more {
    margin: 2rem;
    position: relative;
    left: 85%;
  }

  .see-more a {
    text-decoration: none;
    color: #e02c6d;
    font-size: 1rem;
  }
  .see-more-arrow {
    color: #e02c6d;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4rem;
    margin-bottom: 8rem;
  }

  .influencer-img > img {
    height: 300px;
    width: 256px;
    border-radius: 50%;
    border: 1px solid rgba(65, 50, 50, 0.438);
  }

  .influencer-img > img:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .influencer-img > h2 {
    color: #3a3a3a;
    position: relative;
    top: 10%;
    left: -45%;
    display: inline-block;
  }

  .footer-section {
    height: 239px;
    background-color: #0a0826;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-contents {
    margin-top: 2rem;
  }

  .footer-headline {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .footer-copyright-text {
    text-align: start;
    margin-bottom: 0.5rem;
  }

  .footer-all-rights-text {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .social-media-icons {
    font: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .social-media-icons > i {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 488px) {
  main {
    margin: 2rem;
  }
  .navbar {
    margin: 2rem;
    height: 50px;
    padding-top: 0.5rem;
    padding-left: 6rem;
  }

  .intro-banner {
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 3rem;
  }

  .text-contents {
    flex: 1;
    /* margin-top: 10rem; */
  }

  .text-contents:hover {
    transform: scale(1.1);
  }

  .headline {
    font-size: 1rem;
    color: #3a3a3a;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .sub-text {
    white-space: no-wrap;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    /* text-align: justify; */
    color: #3a3a3a;
  }

  .prebook-button {
    height: 20%;
    width: 30%;
    background-color: #e02c6d;
    color: white;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .banner-image {
    text-align: center;
    margin-top: 2rem;
    padding-left: 0rem;
    position: relative;
    right: 40px;
  }

  .banner-image img {
    height: 217px;
  }

  .banner-image:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }

  .banner-image img {
    height: 411px;
    width: 413px;
  }

  .popular-collections {
    /* height: 1047px; */
    height: 4600px;
    margin-top: 10rem;
  }

  .pc-headline {
    text-align: center;
    font-size: 2rem;
    color: #3a3a3a;
    margin-bottom: 1rem;
  }

  .collections {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
  }

  .collection {
    height: 500px;
    width: 330px;
  }

  .collection-image {
    margin-bottom: 0.5rem;
  }

  .collection-name {
    margin-bottom: 0.5rem;
  }

  .collection-price {
    margin-bottom: 0.5rem;
  }
  .ratings {
    margin-bottom: 0.5rem;
    display: flex;
  }
  .stars {
    margin-right: 1rem;
  }
  .fa-star {
    color: #fb8200;
  }

  .see-more a {
    text-decoration: none;
    color: #e02c6d;
    font-size: 1rem;
  }
  .see-more-arrow {
    color: #e02c6d;
  }

  .testimonials {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-bottom: 8rem;
  }

  .influencer-img {
    margin-bottom: 3rem;
  }

  .influencer-img > img {
    height: 300px;
    width: 256px;
    border-radius: 50%;
    border: 1px solid rgba(65, 50, 50, 0.438);
  }

  .influencer-img > img:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .influencer-img > h2 {
    color: #3a3a3a;
    position: relative;
    top: 10%;
    left: -45%;
    display: inline-block;
  }

  .footer-section {
    height: 239px;
    background-color: #0a0826;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

  .footer-contents {
    /* margin-top: 2rem; */
    position: relative;
    right: 2.5rem;
  }

  .footer-headline {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .footer-copyright-text {
    text-align: start;
    margin-bottom: 0.5rem;
  }

  .footer-all-rights-text {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .social-media-icons {
    font: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .social-media-icons > i {
    padding: 0.5rem;
  }
}
